*.csproj
*.config
*.cs
Goclassing.com.Publish.xml
Web.config
.svn/
*.classroom
*.course
*.courses
*.file
*.tag
*.tags
*.user
*.users
FacebookProvider.cs
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
UnexpectedError
Default.htm
img/course/*.jpg
PageNotFound
Pre.htm
tags
*.search
css/*.mybootstrap.css
Error
img/glyphicons_163_iphone.psd
Mobile.htm
