<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
        <add key="HttpRoot" value="http://t.goclassing.com/" />
        <add key="SharedSecret" value="rqeqiopjxzlknm,t.reklcuxizo" />
        <add key="MonoServerDefaultIndexFiles" value="Default.htm" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="RemoteOnly">
            <error statusCode="500" redirect="~/UnexpectedError"/>
            <error statusCode="404" redirect="~/PageNotFound"/>
        </customErrors>
    </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension="." mimeType="text/html" />
            <mimeMap fileExtension=".list" mimeType="text/html"/>
            <mimeMap fileExtension=".user" mimeType="text/html" />
            <mimeMap fileExtension=".course" mimeType="text/html" />
            <mimeMap fileExtension=".users" mimeType="text/html" />
            <mimeMap fileExtension=".courses" mimeType="text/html" />
            <mimeMap fileExtension=".tag" mimeType="text/html" />
            <mimeMap fileExtension=".classroom" mimeType="text/html" />
            <mimeMap fileExtension=".file" mimeType="text/html" />
        </staticContent>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ScriptModule-4.0" />
            <add name="ScriptModule-4.0" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="" />
        </modules>
    </system.webServer>
</configuration>
